<!doctype html>
   <html lang="en">
   <head>
       <title>My Flask App</title>
   </head>
   <body>
    {% include 'header.html' %}
       <h1>Welcome to My Flask App</h1>
       <p>This is a simple Flask application.</p>
    <ul>
        {% if data['items'] %}
            {% for item in data['items'] %}
                <li>{{ item }}</li>
            {% endfor %}
        {% else %}
            <p>No items found</p>
        {% endif %}
    </ul>
    {% include 'footer.html' %}
   </body>
   </html>